openapi: 3.0.2
info:
  contact:
    email: devsupport@lunchmoney.app
  description: |-
    ## Overview
    Welcome to the Lunch Money v2 API.

    A working version of this API is now available through these docs, or directly at:

    `https://alpha.lunchmoney.dev/v2`

    **This service has only had internal testing so users are strongly encouraged to create a test budget with example data as the first step to interacting with the v2 API.**
    See the [Getting Started Guide](https://alpha.lunchmoney.dev/v2/getting-started) for more information.

    If you are new to the v2 API, you may wish to review the [v2 API Overview of Changes](https://alpha.lunchmoney.dev/v2/migration-guide).

    ### Static Mock Server

    You may also use these docs to explore the API using a static mock server endpoint.<p>
    This enables users to become familiar with the API without having to create an access token, and eliminates the possibility of modifying real data. <p>
    To access this endpoint select the second endpoint in the the "Server" dropdown to the right. When selected you should see "Static Mock v2 Lunch Money API Server".<br>
    When using this server, set your Bearer token to any string with 11 or more characters.

    ### Migrating from V1

    The v2 API is NOT backwards compatible with the v1 API. Developers are encouraged to review the [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide) to understand the changes and plan their migration.

    ### Acknowledgments

    If you have been providing feedback on the API during our iterative design process, **THANK YOU**. We are happy to provide the opportunity to finally interact with the working API that was built based on your feedback.

    ### Useful links:
    - [Getting Started](https://alpha.lunchmoney.dev/v2/getting-started)
    - [v2 API Changelog](https://alpha.lunchmoney.dev/v2/changelog)
    - [Migration Guide](https://alpha.lunchmoney.dev/v2/migration-guide)
    - [Rate Limits](https://alpha.lunchmoney.dev/v2/rate-limits)
    - [Current v1 Lunch Money API Documentation](https://lunchmoney.dev)
    - [Awesome Lunch Money Projects](https://github.com/lunch-money/awesome-lunchmoney?tab=readme-ov-file)
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://lunchmoney.dev/#current-status
  title: Lunch Money API - v2
  version: 2.8.2
servers:
- description: v2 Lunch Money API Server - modifies real data!
  url: https://api.lunchmoney.dev/v2
- description: Static Mock v2 Lunch Money API Server
  url: https://alpha.lunchmoney.dev/v2
security:
- bearerSecurity: []
- cookieAuth: []
tags:
- description: Access details and settings about the current user and account
  name: me
- description: Access to categories
  externalDocs:
    description: Learn more about categories
    url: https://support.lunchmoney.app/setup/categories
  name: categories
- description: Access to manual accounts (formerly called assets)
  externalDocs:
    description: Learn more about manual accounts
    url: https://support.lunchmoney.app/setup/linked-accounts#how-are-manually-managed-account-balances-updated
  name: manual_accounts
- description: Access to accounts synced via Plaid
  externalDocs:
    description: Learn more about synced accounts
    url: https://support.lunchmoney.app/setup/linked-accounts#how-often-should-i-expect-new-transactions-to-get-imported
  name: plaid_accounts
- description: Access to recurring items
  externalDocs:
    url: https://support.lunchmoney.app/finances/recurring-items
  name: recurring_items
- description: Access to tags
  externalDocs:
    description: Learn more about tags
    url: https://support.lunchmoney.app/setup/tags
  name: tags
- description: Access to transactions
  externalDocs:
    description: Learn more about transactions
    url: https://support.lunchmoney.app/finances/transactions
  name: transactions
- description: Bulk Access to transactions
  externalDocs:
    description: Learn more about transactions
    url: https://support.lunchmoney.app/finances/transactions
  name: transactions (bulk)
- description: Group or ungroup transactions
  externalDocs:
    description: Learn more about transactions
    url: https://support.lunchmoney.app/finances/transactions
  name: transactions (group)
- description: Split or unsplit transactions
  externalDocs:
    description: Learn more about transactions
    url: https://support.lunchmoney.app/finances/transactions
  name: transactions (split)
- description: Manage transaction file attachments
  externalDocs:
    description: Learn more about transactions
    url: https://support.lunchmoney.app/finances/transactions
  name: transactions (files)
- description: Access to a summary of the user's budget
  name: summary
paths:
  /me:
    get:
      description: Get details about the user associated with the supplied authorization
        token.
      operationId: getMe
      parameters: []
      responses:
        "200":
          content:
            application/json:
              example:
                name: User 1
                email: user-1@lunchmoney.dev
                id: 18328
                account_id: 18221
                budget_name: \U0001F3E0 Family budget
                primary_currency: usd
                api_key_label: Side project dev key
              schema:
                $ref: "#/components/schemas/userObject"
          description: The User Object associated with the authorized token.
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Get current user
      tags:
      - me
  /summary:
    get:
      description: Returns a summary of the budget activity for the specified date
        range.
      operationId: getBudgetSummary
      parameters:
      - description: Start of date range in ISO 8601 date format (YYYY-MM-DD).
        examples:
          aligned monthly:
            description: First day of month for aligned budget periods
            summary: Start date for monthly budget period
            value: 2025-07-01
          not aligned:
            description: Date that doesn't align with budget periods
            summary: Start date for non-aligned period
            value: 2025-07-02
        explode: true
        in: query
        name: start_date
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: End of date range in ISO 8601 date format (YYYY-MM-DD).
        examples:
          aligned monthly:
            description: Last day of month for aligned budget periods
            summary: End date for monthly budget period
            value: 2025-08-31
          not aligned:
            description: Date that doesn't align with budget periods
            summary: End date for non-aligned period
            value: 2025-08-27
        explode: true
        in: query
        name: end_date
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: Enable to include categories that have the 'Exclude from Budgets'
          flag set in the returned `categories` array.
        explode: true
        in: query
        name: include_exclude_from_budgets
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Enable to include an `occurrences` array for each category in
          an aligned response. Each array will include an object for each budget period
          that falls within the specified date range which includes details on the
          activity for the budget period.
        explode: true
        in: query
        name: include_occurrences
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Enable to include a top-level `totals` section that summarizes
          the inflow and outflow across all transactions for the specified date range.
        explode: true
        in: query
        name: include_totals
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                aligned monthly:
                  description: Example response for a date range that aligns with
                    monthly budget periods (1st to last day of month) with occurrences
                    included
                  summary: Monthly budget summary aligned with budget periods
                  value:
                    aligned: true
                    categories:
                    - category_id: 315177
                      totals:
                        other_activity: 156.64
                        recurring_activity: 0
                        budgeted: 500
                        available: 343.36
                        recurring_remaining: 0
                        recurring_expected: 0
                      occurrences:
                      - current: false
                        start_date: 2025-07-01
                        end_date: 2025-07-31
                        other_activity: 156.64
                        recurring_activity: 0
                        budgeted: 500
                        budgeted_amount: "500.0000"
                        budgeted_currency: usd
                        notes: Monthly budget allocation
                      - current: false
                        start_date: 2025-08-01
                        end_date: 2025-08-31
                        other_activity: 0
                        recurring_activity: 0
                        budgeted: 500
                        budgeted_amount: "500.0000"
                        budgeted_currency: usd
                        notes: Adjusted for seasonal spending
                    - category_id: 315628
                      totals:
                        other_activity: 424.8
                        recurring_activity: 0
                        budgeted: 200
                        available: -224.8
                        recurring_remaining: 0
                        recurring_expected: 0
                      occurrences:
                      - current: false
                        start_date: 2025-07-01
                        end_date: 2025-07-31
                        other_activity: 424.8
                        recurring_activity: 0
                        budgeted: 200
                        budgeted_amount: "200.0000"
                        budgeted_currency: usd
                        notes: Based on previous month's activity
                      - current: false
                        start_date: 2025-08-01
                        end_date: 2025-08-31
                        other_activity: 0
                        recurring_activity: 0
                        budgeted: 200
                        budgeted_amount: "200.0000"
                        budgeted_currency: usd
                        notes: Emergency fund contribution
                    - category_id: 86
                      totals:
                        other_activity: 25.69
                        recurring_activity: 0
                        budgeted: 200
                        available: 174.31
                        recurring_remaining: 0
                        recurring_expected: 0
                      occurrences:
                      - current: false
                        start_date: 2025-07-01
                        end_date: 2025-07-31
                        other_activity: 25.69
                        recurring_activity: 0
                        budgeted: 200
                        budgeted_amount: "200.0000"
                        budgeted_currency: usd
                        notes: Holiday spending budget
                      - current: false
                        start_date: 2025-08-01
                        end_date: 2025-08-31
                        other_activity: 0
                        recurring_activity: 0
                        budgeted: 200
                        budgeted_amount: "200.0000"
                        budgeted_currency: usd
                        notes: Summer vacation savings
                not aligned:
                  description: Example response for a date range that does not align
                    with monthly budget periods (July 2 to August 27)
                  summary: Budget summary for non-aligned date range
                  value:
                    aligned: false
                    categories:
                    - category_id: 315177
                      totals:
                        other_activity: 156.64
                        recurring_activity: 0
                        budgeted: 400
                        available: 243.36
                        recurring_remaining: 0
                        recurring_expected: 0
                    - category_id: 315628
                      totals:
                        other_activity: 424.8
                        recurring_activity: 0
                        budgeted: null
                        available: null
                        recurring_remaining: 0
                        recurring_expected: 0
                    - category_id: 78
                      totals:
                        other_activity: 0
                        recurring_activity: 0
                        budgeted: null
                        available: null
                        recurring_remaining: 0
                        recurring_expected: 0
                    - category_id: 83
                      totals:
                        other_activity: 0
                        recurring_activity: 0
                        budgeted: null
                        available: null
                        recurring_remaining: 1700
                        recurring_expected: 1700
                    - category_id: 88
                      totals:
                        other_activity: 0
                        recurring_activity: 2501.68
                        budgeted: null
                        available: null
                        recurring_remaining: 0
                        recurring_expected: 2501.68
                    - category_id: 86
                      totals:
                        other_activity: 25.69
                        recurring_activity: 0
                        budgeted: 200
                        available: 174.31
                        recurring_remaining: 0
                        recurring_expected: 0
                    - category_id: 84
                      totals:
                        other_activity: 401.12
                        recurring_activity: 4.13
                        budgeted: 150
                        available: -255.25
                        recurring_remaining: -4.13
                        recurring_expected: 0
                summarized totals:
                  description: Example response for aligned monthly budget periods
                    with totals section showing overall inflow and outflow
                  summary: Monthly budget summary with totals included
                  value:
                    aligned: true
                    categories:
                    - category_id: 315177
                      totals:
                        other_activity: 156.64
                        recurring_activity: 0
                        budgeted: 400
                        available: 243.36
                        recurring_remaining: 0
                        recurring_expected: 0
                      occurrences:
                      - current: false
                        start_date: 2025-07-01
                        end_date: 2025-07-31
                        other_activity: 156.64
                        recurring_activity: 0
                        budgeted: 400
                        budgeted_amount: "400.0000"
                        budgeted_currency: usd
                        notes: Monthly budget allocation
                    - category_id: 315628
                      totals:
                        other_activity: 424.8
                        recurring_activity: 0
                        budgeted: 200
                        available: -224.8
                        recurring_remaining: 0
                        recurring_expected: 0
                      occurrences:
                      - current: false
                        start_date: 2025-07-01
                        end_date: 2025-07-31
                        other_activity: 424.8
                        recurring_activity: 0
                        budgeted: 200
                        budgeted_amount: "200.0000"
                        budgeted_currency: usd
                        notes: Based on previous month's activity
                    - category_id: 315629
                      totals:
                        other_activity: 0
                        recurring_activity: 0
                        budgeted: 150
                        available: 150
                        recurring_remaining: 0
                        recurring_expected: 0
                      occurrences:
                      - current: false
                        start_date: 2025-07-01
                        end_date: 2025-07-31
                        other_activity: 0
                        recurring_activity: 0
                        budgeted: 150
                        budgeted_amount: "150.0000"
                        budgeted_currency: usd
                        notes: Emergency fund contribution
                    totals:
                      inflow:
                        other_activity: -125.5
                        recurring_activity: -89.99
                        uncategorized: 0
                        uncategorized_count: 0
                        uncategorized_recurring: 0
                      outflow:
                        other_activity: 581.44
                        recurring_activity: 0
                        uncategorized: 45.2
                        uncategorized_count: 3
                        uncategorized_recurring: 0
                with occurrences:
                  description: Example response for aligned monthly budget periods
                    with occurrences showing individual budget period details for
                    each category
                  summary: Monthly budget summary with occurrences included
                  value:
                    aligned: true
                    categories:
                    - category_id: 315177
                      totals:
                        other_activity: 156.64
                        recurring_activity: 0
                        budgeted: 500
                        available: 343.36
                        recurring_remaining: 0
                        recurring_expected: 0
                      occurrences:
                      - current: false
                        start_date: 2025-07-01
                        end_date: 2025-07-31
                        other_activity: 156.64
                        recurring_activity: 0
                        budgeted: 500
                        budgeted_amount: "500.0000"
                        budgeted_currency: usd
                        notes: Monthly budget allocation
                      - current: false
                        start_date: 2025-08-01
                        end_date: 2025-08-31
                        other_activity: 0
                        recurring_activity: 0
                        budgeted: 500
                        budgeted_amount: "500.0000"
                        budgeted_currency: usd
                        notes: Adjusted for seasonal spending
                    - category_id: 315628
                      totals:
                        other_activity: 424.8
                        recurring_activity: 0
                        budgeted: 200
                        available: -224.8
                        recurring_remaining: 0
                        recurring_expected: 0
                      occurrences:
                      - current: false
                        start_date: 2025-07-01
                        end_date: 2025-07-31
                        other_activity: 424.8
                        recurring_activity: 0
                        budgeted: 200
                        budgeted_amount: "200.0000"
                        budgeted_currency: usd
                        notes: Based on previous month's activity
                      - current: false
                        start_date: 2025-08-01
                        end_date: 2025-08-31
                        other_activity: 0
                        recurring_activity: 0
                        budgeted: 200
                        budgeted_amount: "200.0000"
                        budgeted_currency: usd
                        notes: Emergency fund contribution
                    - category_id: 86
                      totals:
                        other_activity: 25.69
                        recurring_activity: 0
                        budgeted: 200
                        available: 174.31
                        recurring_remaining: 0
                        recurring_expected: 0
                      occurrences:
                      - current: false
                        start_date: 2025-07-01
                        end_date: 2025-07-31
                        other_activity: 25.69
                        recurring_activity: 0
                        budgeted: 200
                        budgeted_amount: "200.0000"
                        budgeted_currency: usd
                        notes: Holiday spending budget
                      - current: false
                        start_date: 2025-08-01
                        end_date: 2025-08-31
                        other_activity: 0
                        recurring_activity: 0
                        budgeted: 200
                        budgeted_amount: "200.0000"
                        budgeted_currency: usd
                        notes: Summer vacation savings
              schema:
                $ref: "#/components/schemas/getBudgetSummary_200_response"
          description: Budget summary for the requested range.
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Get summary
      tags:
      - summary
  /categories:
    get:
      description: Retrieve a list of all categories associated with the user's account.
      operationId: getAllCategories
      parameters:
      - description: "If `nested`, returns top-level categories (either category groups\
          \ or categories not part of a category group) in alphabetical order. Grouped\
          \ categories are nested within the category group under the property `children`.\
          \ A `flattened`, response is similar but it includes grouped categories\
          \ at the top level.<br/><br/> Categories are sorted by their `order`. When\
          \ `order` is null, they are listed in alphabetical order below other categories\
          \ with an `order`."
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: nested
          enum:
          - nested
          - flattened
          type: string
        style: form
      - description: "If `false`, only categories not part of a category group are\
          \ returned.<br> If `true`, only category groups are returned.<br> When set,\
          \ the `format` parameter is ignored."
        explode: true
        in: query
        name: is_group
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                nested response:
                  value:
                    categories:
                    - id: 86
                      name: Automobile
                      description: Auto related categories
                      is_income: false
                      exclude_from_budget: false
                      exclude_from_totals: false
                      updated_at: 2025-02-28T09:49:03.238Z
                      created_at: 2025-01-28T09:49:03.238Z
                      is_group: true
                      order: 2
                      archived: false
                      group_id: null
                      archived_at: null
                      children:
                      - id: 315174
                        name: Fuel
                        description: Fuel and gas expenses
                        is_income: false
                        exclude_from_budget: false
                        exclude_from_totals: false
                        updated_at: 2025-02-28T09:49:03.238Z
                        created_at: 2025-01-28T09:49:03.238Z
                        is_group: false
                        order: 1
                        archived: false
                        group_id: 86
                        archived_at: null
                      - id: 315175
                        name: Maintenance
                        description: Car maintenance and repairs
                        is_income: false
                        exclude_from_budget: false
                        exclude_from_totals: false
                        updated_at: 2025-02-28T09:49:03.238Z
                        created_at: 2025-01-28T09:49:03.238Z
                        is_group: false
                        order: 2
                        archived: false
                        group_id: 86
                        archived_at: null
                    - id: 83
                      name: Rent
                      description: Monthly Rent
                      is_income: false
                      exclude_from_budget: false
                      exclude_from_totals: false
                      updated_at: 2025-02-28T09:49:03.225Z
                      created_at: 2025-01-28T09:49:03.225Z
                      is_group: false
                      order: 0
                      archived: false
                      group_id: null
                      archived_at: null
                    - id: 88
                      name: W2 Income
                      description: null
                      is_income: true
                      exclude_from_budget: false
                      exclude_from_totals: true
                      updated_at: 2025-02-28T09:49:03.238Z
                      created_at: 2025-01-28T09:49:03.238Z
                      is_group: false
                      order: 3
                      archived: false
                      group_id: null
                      archived_at: null
                flattened response:
                  value:
                    categories:
                    - id: 86
                      name: Automobile
                      description: Auto related categories
                      is_income: false
                      exclude_from_budget: false
                      exclude_from_totals: false
                      updated_at: 2025-02-28T09:49:03.238Z
                      created_at: 2025-01-28T09:49:03.238Z
                      is_group: true
                      order: 1
                      archived: false
                      group_id: null
                      archived_at: null
                      children:
                      - id: 315174
                        name: Fuel
                        description: Fuel and gas expenses
                        is_income: false
                        exclude_from_budget: false
                        exclude_from_totals: false
                        updated_at: 2025-02-28T09:49:03.238Z
                        created_at: 2025-01-28T09:49:03.238Z
                        is_group: false
                        order: 1
                        archived: false
                        group_id: 86
                        archived_at: null
                      - id: 315175
                        name: Maintenance
                        description: Car maintenance and repairs
                        is_income: false
                        exclude_from_budget: false
                        exclude_from_totals: false
                        updated_at: 2025-02-28T09:49:03.238Z
                        created_at: 2025-01-28T09:49:03.238Z
                        is_group: false
                        order: 2
                        archived: false
                        group_id: 86
                        archived_at: null
                    - id: 315174
                      name: Fuel
                      description: Fuel and gas expenses
                      is_income: false
                      exclude_from_budget: false
                      exclude_from_totals: false
                      updated_at: 2025-02-28T09:49:03.238Z
                      created_at: 2025-01-28T09:49:03.238Z
                      is_group: false
                      order: 1
                      archived: false
                      group_id: 86
                      archived_at: null
                    - id: 315175
                      name: Maintenance
                      description: Car maintenance and repairs
                      is_income: false
                      exclude_from_budget: false
                      exclude_from_totals: false
                      updated_at: 2025-02-28T09:49:03.238Z
                      created_at: 2025-01-28T09:49:03.238Z
                      is_group: false
                      order: 2
                      archived: false
                      group_id: 86
                      archived_at: null
                    - id: 83
                      name: Rent
                      description: Monthly Rent
                      is_income: false
                      exclude_from_budget: false
                      exclude_from_totals: false
                      updated_at: 2025-02-28T09:49:03.225Z
                      created_at: 2025-01-28T09:49:03.225Z
                      is_group: false
                      order: 2
                      archived: false
                      group_id: null
                      archived_at: null
                    - id: 88
                      name: W2 Income
                      description: null
                      is_income: true
                      exclude_from_budget: false
                      exclude_from_totals: true
                      updated_at: 2025-02-28T09:49:03.238Z
                      created_at: 2025-01-28T09:49:03.238Z
                      is_group: false
                      order: 3
                      archived: false
                      group_id: null
                      archived_at: null
              schema:
                $ref: "#/components/schemas/getAllCategories_200_response"
          description: A list of Category Objects
        "400":
          content:
            application/json:
              example:
                message: Request Validation Failure
                errors:
                - errMsg: must be equal to one of the allowed values
                  instancePath: /query/format
                  schemaPath: "#/properties/query/properties/format/enum"
                  keyword: enum
                  params:
                    allowedValues:
                    - flattened
                    - nested
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Invalid request parameters
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Get all categories
      tags:
      - categories
    post:
      description: "Creates a new category with the given name.<br> If the `is_group`\
        \ attribute is set to true, a category group is created. In this case, the\
        \ `children` attribute may be set to an array of existing category IDs to\
        \ add to the newly-created category group."
      operationId: createCategory
      requestBody:
        content:
          application/json:
            examples:
              category:
                value:
                  name: API Created Category
                  description: Test description of created category
                  is_income: false
                  exclude_from_budget: true
                  exclude_from_totals: false
                  is_group: false
              category group:
                value:
                  name: API Created Category Group
                  description: Test description of Category Group
                  is_income: false
                  exclude_from_budget: false
                  exclude_from_totals: false
                  is_group: true
                  children:
                  - 83
            schema:
              $ref: "#/components/schemas/createCategoryRequestObject"
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                category:
                  value:
                    id: 90
                    name: API Created Category
                    description: Test description of created category
                    is_income: false
                    exclude_from_budget: true
                    exclude_from_totals: false
                    updated_at: 2025-05-26T19:56:52.699Z
                    created_at: 2025-05-26T19:56:52.699Z
                    is_group: false
                    group_id: null
                    archived: false
                    archived_at: null
                    order: null
                category group:
                  value:
                    id: 91
                    name: API Created Category Group
                    description: Test description of Category Group
                    is_income: false
                    exclude_from_budget: false
                    exclude_from_totals: false
                    updated_at: 2025-05-27T19:59:45.053Z
                    created_at: 2025-05-27T19:59:45.053Z
                    is_group: true
                    group_id: null
                    archived: false
                    archived_at: null
                    order: null
                    children:
                    - id: 83
                      name: Rent
                      description: Monthly Rent
                      is_income: false
                      exclude_from_budget: false
                      exclude_from_totals: false
                      updated_at: 2025-02-28T09:49:03.225Z
                      created_at: 2025-01-28T09:49:03.225Z
                      is_group: false
                      order: 1
                      archived: false
                      group_id: null
                      archived_at: null
              schema:
                $ref: "#/components/schemas/categoryObject"
          description: Category or Category Group Object with the successfully created
            category or category group.
        "400":
          content:
            application/json:
              example:
                message: Invalid Request Body
                errors:
                - errMsg: Cannot specify a 'group_id' in request body if 'is_group'
                    is also true
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Create a new category or category group
      tags:
      - categories
  /categories/{id}:
    delete:
      description: "Attempts to delete the single category or category group specified\
        \ on the path. By default, this will only work if there are no dependencies,\
        \ such as existing budgets for the category, categorized transactions, children\
        \ categories for a category group, categorized recurring items, etc. If there\
        \ are dependents, this endpoint will return an object that describes the amount\
        \ and type of existing dependencies."
      operationId: deleteCategory
      parameters:
      - description: ID of the category to delete
        examples:
          delete category:
            summary: Simple category delete
            value: 83
          delete category group:
            summary: Attempt to delete category with dependencies
            value: 84
          id not found:
            summary: Example of an id that doesn't exist
            value: 543210
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Set to `true` to force deletion even if there are dependencies
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "404":
          content:
            application/json:
              example:
                message: Not Found
                errors:
                - errMsg: There is no category with the id:'543210'`
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Not Found
        "422":
          content:
            application/json:
              examples:
                delete category with dependencies:
                  summary: Response to an attempt to delete category with dependencies
                  value:
                    category_name: Category to be Deleted
                    dependents:
                      budget: 0
                      category_rules: 1
                      transactions: 10
                      children: 0
                      recurring: 0
                      plaid_cats: 0
                delete category group:
                  summary: Response to attempt to delete a category group with children
                  value:
                    category_name: Category Group to be Deleted
                    dependents:
                      budget: 0
                      category_rules: 0
                      transactions: 0
                      children: 3
                      recurring: 0
                      plaid_cats: 0
              schema:
                $ref: "#/components/schemas/deleteCategoryResponseWithDependencies"
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Delete a category or category group
      tags:
      - categories
    get:
      description: Retrieve details of a specific category or category group by its
        ID.
      operationId: getCategoryById
      parameters:
      - description: ID of the category to retrieve
        examples:
          category:
            summary: Example of a category's id
            value: 315174
          category group:
            summary: Example of a category group's id
            value: 86
          id not found:
            summary: Example of an id that doesn't exist
            value: 543210
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "201":
          content:
            application/json:
              examples:
                category:
                  value:
                    id: 315174
                    name: Fuel
                    description: Fuel and gas expenses
                    is_income: false
                    exclude_from_budget: false
                    exclude_from_totals: false
                    updated_at: 2025-02-28T09:49:03.238Z
                    created_at: 2025-01-28T09:49:03.238Z
                    group_id: 86
                    is_group: false
                    archived: false
                    archived_at: null
                    order: 1
                category group:
                  value:
                    id: 86
                    name: Automobile
                    description: Auto related categories
                    is_income: false
                    exclude_from_budget: false
                    exclude_from_totals: false
                    updated_at: 2025-02-28T09:49:03.238Z
                    created_at: 2025-01-28T09:49:03.238Z
                    is_group: true
                    order: 2
                    archived: false
                    group_id: null
                    archived_at: null
                    children:
                    - id: 315174
                      name: Fuel
                      description: Fuel and gas expenses
                      is_income: false
                      exclude_from_budget: false
                      exclude_from_totals: false
                      updated_at: 2025-02-28T09:49:03.238Z
                      created_at: 2025-01-28T09:49:03.238Z
                      group_id: 86
                      is_group: false
                      archived: false
                      archived_at: null
                      order: 1
                    - id: 315175
                      name: Maintenance
                      description: Car maintenance and repairs
                      is_income: false
                      exclude_from_budget: false
                      exclude_from_totals: false
                      updated_at: 2025-02-28T09:49:03.238Z
                      created_at: 2025-01-28T09:49:03.238Z
                      group_id: 86
                      is_group: false
                      archived: false
                      archived_at: null
                      order: 2
              schema:
                $ref: "#/components/schemas/categoryObject"
          description: Category Object with the requested category or category group.
        "400":
          content:
            application/json:
              example:
                message: Request Validation Failure
                errors:
                - errMsg: must be a valid integer
                  instancePath: /query/ids/0
                  schemaPath: "#/properties/query/properties/ids/items/type"
                  keyword: type
                  params:
                    type: integer
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "404":
          content:
            application/json:
              example:
                message: Not Found
                errors:
                - errMsg: There is no category with the id:'543210'`
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Not Found
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Get a single category
      tags:
      - categories
    put:
      description: |-
        Modifies the properties of an existing category or category group.<br><br>
        You may submit the response from a `GET /categories/{id}` as the request body; however, only certain properties can be updated using this API. The following properties are accepted in the request body but their values will be ignored: `id`, `is_group`,`archived_at`, `updated_at`, `created_at`, and `order`.<br><br>
        It is also possible to provide only the properties to be updated in the request body, as long as the request includes at least one of the properties that is not listed above. For example, a request body that contains only a `name` property is valid.<br><br>
        It is not possible to use this API to convert a category to a category group, or a vice versa, so while submitting a request body with the `is_group` property is tolerated, it will result in an error response if the value is changed.<br><br>
        It is possible to modify the children of an existing category group with this API by setting the `children` attribute. If this is set, it will replace the existing children with the newly specified children. If the intention is to add or remove a single category, it is more straightforward to update the child category by specifying the new `group_id` attribute. If the goal is to add multiple new children or remove multiple existing children, it is recommended to first call the `GET /categories/:id` endpoint to get the existing children and then modify the list as desired.<br><br>
      operationId: updateCategory
      parameters:
      - description: ID of the category to update
        examples:
          category:
            summary: Example of a category's id
            value: 83
          category group:
            summary: Example of a category group's id
            value: 86
          child category:
            summary: Example of a category belonging to a group
            value: 315164
          not found:
            summary: Example of a category id that does not exist
            value: 543210
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Update some category properties:
                value:
                  name: Updated Category Name
                  description: Updated description of the category
              Update same properties with full object:
                value:
                  id: 83
                  name: Updated Category Name
                  description: Updated description of the category
                  is_income: false
                  exclude_from_budget: true
                  exclude_from_totals: false
                  updated_at: 2020-01-28T09:49:03.225Z
                  created_at: 2020-01-28T09:49:03.225Z
                  is_group: false
                  group_id: null
                  archived: false
                  archived_at: null
                  order: 0
              Invalid attempt to convert to category group:
                value:
                  id: 83
                  name: Old Category is now a group!
                  is_group: true
              Remove category from a group:
                value:
                  id: 86
                  name: Automobile
                  description: API Removed a sub category
                  children:
                  - 315174
            schema:
              $ref: "#/components/schemas/updateCategoryRequestObject"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                category:
                  value:
                    id: 83
                    name: Updated Category Name
                    description: Updated description of the category
                    is_income: false
                    exclude_from_budget: false
                    exclude_from_totals: true
                    updated_at: 2025-05-26T20:41:18.406Z
                    created_at: 2025-01-28T09:49:03.225Z
                    is_group: false
                    order: 0
                    archived: false
                    archived_at: null
                    group_id: null
                category group:
                  value:
                    id: 86
                    name: Automobile
                    description: API Removed a sub category
                    is_income: false
                    exclude_from_budget: false
                    exclude_from_totals: false
                    updated_at: 2025-06-22T19:54:30.921Z
                    created_at: 2025-01-28T09:49:03.238Z
                    is_group: true
                    order: 2
                    archived: false
                    group_id: null
                    archived_at: null
                    children:
                    - id: 315174
                      name: Fuel
                      description: Fuel and gas expenses
                      is_income: false
                      exclude_from_budget: false
                      exclude_from_totals: false
                      updated_at: 2025-02-28T09:49:03.238Z
                      created_at: 2025-01-28T09:49:03.238Z
                      group_id: 86
                      is_group: false
                      archived: false
                      archived_at: null
                      order: 1
              schema:
                $ref: "#/components/schemas/categoryObject"
          description: Category or Category Group updated successfully
        "400":
          content:
            application/json:
              example:
                message: Invalid Request Body
                errors:
                - errMsg: Cannot modify the 'group_id' property of an existing category
                    or category group
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "404":
          content:
            application/json:
              example:
                message: Not Found
                errors:
                - errMsg: There is no category with the id:'543210'`
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Not Found
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Update an existing category or category group
      tags:
      - categories
  /manual_accounts:
    get:
      description: Retrieve a list of all manually-managed accounts associated with
        the user's account.
      operationId: getAllManualAccounts
      responses:
        "200":
          content:
            application/json:
              example:
                manual_accounts:
                - id: 119807
                  name: Individual Brokerage
                  type: investment
                  subtype: brokerage
                  display_name: null
                  balance: "41211.8000"
                  balance_as_of: 2025-06-25T17:00:04.000Z
                  closed_on: null
                  currency: usd
                  to_base: 41211.8
                  institution_name: Fidelity
                  external_id: null
                  exclude_from_transactions: false
                  created_at: 2025-06-25T17:00:04.414Z
                  updated_at: 2025-06-26T19:03:38.312Z
                - id: 119909
                  name: Euro Travel Card
                  type: credit
                  subtype: credit card
                  display_name: null
                  balance: "1004.8000"
                  balance_as_of: 2023-06-25T17:00:04.000Z
                  closed_on: null
                  currency: usd
                  to_base: 1004.8
                  institution_name: WeBank
                  external_id: null
                  exclude_from_transactions: false
                  created_at: 2025-06-25T17:00:04.414Z
                  updated_at: 2025-06-26T19:03:38.312Z
              schema:
                $ref: "#/components/schemas/getAllManualAccounts_200_response"
          description: A list of manual accounts
        "400":
          content:
            application/json:
              example:
                message: Request Validation Failure
                errors:
                - errMsg: must NOT have additional properties
                  instancePath: /query
                  schemaPath: "#/properties/query/additionalProperties"
                  keyword: additionalProperties
                  params:
                    additionalProperty: foo
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Get all manual accounts
      tags:
      - manual_accounts
    post:
      description: Create a new manually-managed account.<br><br>
      operationId: createManualAccount
      requestBody:
        content:
          application/json:
            examples:
              minimum request body:
                summary: Minimum required fields for creating a manual account
                value:
                  name: API created Account
                  type: cash
                  balance: "100"
              full example:
                summary: Full example with all fields
                value:
                  name: API created loan
                  type: vehicle
                  subtype: loan
                  display_name: Car loan
                  balance: "9999.99"
                  balance_as_of: 2024-10-12
                  closed_on: null
                  currency: usd
                  institution_name: Bank of America
                  exclude_from_transactions: false
              display_name not unique:
                summary: Explicit display_name not unique
                value:
                  name: API created card
                  type: credit
                  display_name: WeBank Euro Travel Card
                  balance: "1004.8000"
              implicit display_name not unique:
                summary: Derived display_name not unique
                value:
                  name: Individual Brokerage
                  type: investment
                  institution_name: Fidelity
                  balance: "41211.8000"
            schema:
              $ref: "#/components/schemas/createManualAccountRequestObject"
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                minimum request response:
                  value:
                    id: 119999
                    name: API created Account
                    display_name: null
                    type: cash
                    subtype: null
                    balance: "100"
                    balance_as_of: 2024-10-06T18:55:08.599Z
                    closed_on: null
                    currency: usd
                    to_base: 100
                    institution_name: null
                    external_id: null
                    exclude_from_transactions: false
                    created_at: 2024-10-06T18:55:08.599Z
                    updated_at: 2024-10-06T18:55:08.599Z
                complete request response:
                  value:
                    id: 119999
                    name: API created loan
                    display_name: Car loan
                    type: vehicle
                    subtype: loan
                    balance: "9999.99"
                    balance_as_of: 2024-10-06T18:55:08.599Z
                    closed_on: null
                    currency: usd
                    to_base: 9999.99
                    institution_name: Bank of America
                    external_id: null
                    exclude_from_transactions: false
                    created_at: 2024-10-06T18:57:12.029Z
                    updated_at: 2024-10-06T18:57:12.029Z
              schema:
                $ref: "#/components/schemas/manualAccountObject"
          description: Successfully created manual account
        "400":
          content:
            application/json:
              examples:
                missing required properties:
                  value:
                    message: Request Validation Failure
                    errors:
                    - errMsg: Missing required property 'name' in request body.
                    - errMsg: Missing required property 'type' in request body.
                    - errMsg: Missing required property 'balance' in request body.
                explicit display_name not unique:
                  value:
                    message: Request Validation Failure
                    errors:
                    - errMsg: "A manual account with the same display_name: 'WeBank\
                        \ Travel Card' already exists."
                      existing_manual_account_id: 219909
                      requested_display_name: WeBank Travel Card
                      existing_display_name: WeBank Travel Card
                      existing_name: Euro Travel Card
                      requested_name: API created card
                implicit display_name not unique:
                  value:
                    message: Request Validation Failure
                    errors:
                    - errMsg: "A manual account with the same implicit display_name\
                        \ derived from name: 'Individual Brokerage' and institution_name:\
                        \ 'Fidelity' already exists."
                      existing_manual_account_id: 219807
                      requested_name: Individual Brokerage
                      existing_name: Individual Brokerage
                      requested_institution_name: Fidelity
                      existing_institution_name: Fidelity
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Invalid request body
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Create a manual account
      tags:
      - manual_accounts
  /manual_accounts/{id}:
    delete:
      description: Deletes the single manual account with the ID specified on the
        path. If any transactions exist with the `manual_account_id` property set
        to this account's ID they will appear with a warning when displayed in the
        web view.
      operationId: deleteManualAccount
      parameters:
      - description: ID of the manual account to delete
        examples:
          delete manual account:
            summary: Account ID to delete
            value: 119807
          id not found:
            summary: Example of an id that doesn't exist
            value: 543210
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "When set to true will also delete any transactions, rules, and\
          \ recurring items associated with this account. Use this option with caution,\
          \ it is irreversible!"
        explode: true
        in: query
        name: delete_items
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: When set to true will delete any balance history associated with
          this account.
        explode: true
        in: query
        name: delete_balance_history
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "404":
          content:
            application/json:
              example:
                message: Not Found
                errors:
                - errMsg: There is no manual account with the id:'543210'`
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Not Found
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Delete a manual account
      tags:
      - manual_accounts
    get:
      description: Retrieve the details of the manual account with the specified ID.
      operationId: getManualAccountById
      parameters:
      - description: ID of the manual account to retrieve
        examples:
          basic manual account:
            summary: Basic manual account by id request
            value: 119807
          id not found:
            summary: Example of an id that doesn't exist
            value: 9999999999999
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 119807
                name: Individual Brokerage
                type: investment
                subtype: brokerage
                display_name: null
                balance: "41211.8000"
                balance_as_of: 2025-06-25T17:00:04.000Z
                closed_on: null
                currency: usd
                to_base: 41211.8
                institution_name: Fidelity
                external_id: null
                exclude_from_transactions: false
                created_at: 2025-06-25T17:00:04.414Z
                updated_at: 2025-06-26T19:03:38.312Z
              schema:
                $ref: "#/components/schemas/manualAccountObject"
          description: Manual Account Object with the requested account.
        "400":
          content:
            application/json:
              examples:
                invalid account id type:
                  value:
                    message: Invalid Path Parameters
                    errors:
                    - errMsg: "Invalid value type for path parameter: 'id'. Expected\
                        \ 'number', received 'string'."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "404":
          content:
            application/json:
              example:
                message: Not Found
                errors:
                - errMsg: There is no manual account with the id:'9999999999999'`
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Not Found
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Get a single manual account
      tags:
      - manual_accounts
    put:
      description: |-
        Modifies the properties of an existing manual account.<br><br>
        You may submit the response from a `GET /manual_accounts/{id}` as the request body, however only certain properties can be updated using this API. The following system set properties are accepted in the request body but their values will be ignored: `id`, `created_at`, and `updated_at`.<br><br>
        It is also possible to provide only the properties to be updated in the request body, as long as the request includes at least one of the properties that is not listed above. For example a request body that contains only a `name` property is valid.<br><br>
      operationId: updateManualAccount
      parameters:
      - description: ID of the manual account to update
        examples:
          category:
            summary: Example of a manual account's id
            value: 119807
          not found:
            summary: Example of a manual account ID that does not exist
            value: 999999999
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              minimum request body:
                summary: type change
                value:
                  type: credit
              close account:
                summary: close and exclude
                value:
                  closed_on: 2024-10-15
                  exclude_from_transactions: true
              use get request:
                summary: Only display name has changed
                value:
                  id: 119909
                  name: Euro Travel Card
                  type: credit
                  subtype: credit card
                  display_name: New Display Name
                  balance: "1004.8000"
                  balance_as_of: 2023-06-25T17:00:04.000Z
                  closed_on: null
                  currency: usd
                  institution_name: WeBank
                  exclude_from_transactions: false
                  created_at: 2025-06-25T17:00:04.414Z
                  updated_at: 2025-06-26T19:03:38.312Z
            schema:
              $ref: "#/components/schemas/updateManualAccountRequestObject"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                type changed to credit:
                  value:
                    id: 119807
                    name: Individual Brokerage
                    type: investment
                    subtype: brokerage
                    display_name: null
                    balance: "41211.8000"
                    balance_as_of: 2025-06-25T17:00:04.000Z
                    closed_on: null
                    currency: usd
                    to_base: 41211.8
                    external_id: null
                    institution_name: Fidelity
                    exclude_from_transactions: false
                    created_at: 2025-06-25T17:00:04.414Z
                    updated_at: 2025-06-26T19:03:38.312Z
                closed account:
                  value:
                    id: 119807
                    name: Individual Brokerage
                    type: investment
                    subtype: brokerage
                    display_name: null
                    balance: "41211.8000"
                    balance_as_of: 2025-06-25T17:00:04.000Z
                    closed_on: 2024-10-06
                    currency: usd
                    to_base: 41211.8
                    external_id: null
                    institution_name: Fidelity
                    exclude_from_transactions: true
                    created_at: 2025-06-25T17:00:04.414Z
                    updated_at: 2024-10-06T19:03:09.506Z
              schema:
                $ref: "#/components/schemas/manualAccountObject"
          description: Manual Account updated successfully
        "400":
          content:
            application/json:
              examples:
                missing required properties:
                  value:
                    message: Invalid Request Body
                    errors:
                    - errMsg: "A request to update a manual account must include at\
                        \ least one of the following properties: name, type, subtype,\
                        \ display_name, balance, balance_as_of, closed_on, currency,\
                        \ institution_name, exclude_from_transactions"
                duplicate display_name:
                  value:
                    message: Request Validation Failure
                    errors:
                    - errMsg: "A manual account with the same display_name: 'WeBank\
                        \ Travel Card' already exists."
                      existing_manual_account_id: 219909
                      requested_display_name: WeBank Travel Card
                      existing_display_name: WeBank Travel Card
                      existing_name: Euro Travel Card
                      requested_name: API created card
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "404":
          content:
            application/json:
              example:
                message: Not Found
                errors:
                - errMsg: There is no manual account with the id:'543210'`
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Not Found
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Update an existing manual account
      tags:
      - manual_accounts
  /plaid_accounts:
    get:
      description: Retrieve a list of all synced accounts associated with the user's
        account.
      operationId: getAllPlaidAccounts
      responses:
        "200":
          content:
            application/json:
              example:
                plaid_accounts:
                - id: 119804
                  date_linked: 2020-01-28
                  name: 401k
                  display_name: ""
                  type: brokerage
                  subtype: 401k
                  mask: "7468"
                  institution_name: Vanguard
                  status: inactive
                  allow_transaction_modifications: false
                  limit: null
                  balance: "12345.6700"
                  currency: usd
                  to_base: 12345.67
                  balance_last_update: 2020-01-27T01:38:11.862Z
                  import_start_date: 2023-01-01
                  last_import: 2019-09-04T12:57:09.190Z
                  last_fetch: 2020-01-28T01:38:11.862Z
                  plaid_last_successful_update: 2020-01-27T01:38:11.862Z
                - id: 119805
                  date_linked: 2020-01-28
                  name: Freedom
                  display_name: Penny's Visa
                  type: credit
                  subtype: credit card
                  mask: "1973"
                  institution_name: Chase
                  status: active
                  allow_transaction_modifications: true
                  limit: 15000
                  balance: "0.0000"
                  currency: usd
                  to_base: 0
                  balance_last_update: 2023-01-27T01:38:07.460Z
                  import_start_date: 2023-01-01
                  last_import: 2023-01-24T12:57:03.250Z
                  last_fetch: 2023-01-28T01:38:11.862Z
                  plaid_last_successful_update: 2023-01-27T01:38:11.862Z
                - id: 119806
                  date_linked: 2020-01-28
                  name: Checking
                  display_name: Penny's Checking
                  type: cash
                  subtype: checking
                  mask: "2046"
                  institution_name: Western Bank
                  status: active
                  allow_transaction_modifications: true
                  limit: null
                  balance: "5498.2800"
                  currency: usd
                  to_base: 5498.28
                  balance_last_update: 2023-01-27T01:38:07.460Z
                  import_start_date: 2023-01-01
                  last_import: 2023-01-24T12:57:03.250Z
                  last_fetch: 2023-01-28T01:38:11.862Z
                  plaid_last_successful_update: 2023-01-27T01:38:11.862Z
              schema:
                $ref: "#/components/schemas/getAllPlaidAccounts_200_response"
          description: A list of accounts synced via Plaid
        "400":
          content:
            application/json:
              example:
                message: Request Validation Failure
                errors:
                - errMsg: must NOT have additional properties
                  instancePath: /query
                  schemaPath: "#/properties/query/additionalProperties"
                  keyword: additionalProperties
                  params:
                    additionalProperty: foo
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Get all accounts synced via Plaid
      tags:
      - plaid_accounts
  /plaid_accounts/{id}:
    get:
      description: Retrieve the details of the plaid account with the specified ID.
      operationId: getPlaidAccountById
      parameters:
      - description: ID of the plaid account to retrieve
        examples:
          basic manual account:
            summary: Basic plaid account by id request
            value: 119805
          id not found:
            summary: Example of an id that doesn't exist
            value: 9999999999999
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 119805
                date_linked: 2020-01-28
                name: Freedom
                display_name: Penny's Visa
                type: credit
                subtype: credit card
                mask: "1973"
                institution_name: Chase
                status: active
                allow_transaction_modifications: true
                limit: 15000
                balance: "0.0000"
                currency: usd
                to_base: 0
                balance_last_update: 2023-01-27T01:38:07.460Z
                import_start_date: 2023-01-01
                last_import: 2023-01-24T12:57:03.250Z
                last_fetch: 2023-01-28T01:38:11.862Z
                plaid_last_successful_update: 2023-01-27T01:38:11.862Z
              schema:
                $ref: "#/components/schemas/plaidAccountObject"
          description: Plaid Account Object with the requested account.
        "400":
          content:
            application/json:
              example:
                message: Request Validation Failure
                errors:
                - errMsg: must be integer
                  instancePath: /path/id
                  schemaPath: "#/properties/path/properties/ids/items/type"
                  keyword: type
                  params:
                    type: integer
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "404":
          content:
            application/json:
              example:
                message: Not Found
                errors:
                - errMsg: "There is no plaid account with the id: 9999999999999"
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Not Found
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Get a single account that is synced via Plaid
      tags:
      - plaid_accounts
  /plaid_accounts/fetch:
    post:
      description: |-
        Use this endpoint to trigger a fetch for latest data from Plaid.<br><br>
        Eligible accounts are those who last_fetch value is over 1 minute ago. (Although the limit is every minute, please use this endpoint sparingly!) Successive calls to this endpoint under a minute after the first will return a 425 TOO EARLY response.<br><br>
        Successful calls will return a 202 ACCEPTED response. Note that fetching from Plaid is a background job. This endpoint simply queues up the job. You may track the `plaid_last_successful_update`, `last_fetch` and `last_import` properties to verify the results of the fetch. The `last fetch` property is updated when Plaid accepts a request to fetch data. The `plaid_last_successful_update`is updated when it successfully contacts the associated financial institution. The `last_import` field is updated only when new transactions have been imported.
      operationId: triggerPlaidAccountFetch
      parameters:
      - description: "Denotes the beginning of the time period to fetch transactions\
          \ for. If omitted, the most recent transactions will be returned. <br> Required\
          \ if end_date exists. <br>"
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: 'Denotes the end of the time period you''d like to get transactions
          for. Required if start_date exists. '
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Specific ID of a plaid account to fetch. If not set the endpoint
          will trigger a fetch for all eligible accounts.
        examples:
          basic manual account:
            summary: Basic manual account by id request
            value: 119807
          id not found:
            summary: Example of an id that doesn't exist
            value: 9999999999999
        explode: true
        in: query
        name: id
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "202":
          description: "A 202 ACCEPTED status is returned if Plaid acknowledged the\
            \ fetch request. This indicates that it is possible to subsequently query\
            \ the `GET /plaid_accounts` endpoint to determine if the request was successful\
            \ (`plaid_last_successful_update` is more recent than `last_fetch), or\
            \ if new transactions were synced (`last_import` is more recent than `last_fetch`).<br>"
        "400":
          content:
            application/json:
              examples:
                missing end_date:
                  value:
                    message: Invalid Request Parameters
                    errors:
                    - errMsg: Both 'start_date' and 'end_date' must be specified.
                invalid id type:
                  value:
                    message: Request Validation Failure
                    errors:
                    - errMsg: must be integer
                      instancePath: /path/id
                      schemaPath: "#/properties/path/properties/ids/items/type"
                      keyword: type
                      params:
                        type: integer
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "425":
          content:
            application/json:
              example:
                message: Too Early
                errors:
                - errMsg: Please wait at least 60 seconds between fetch requests.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Early
        "429":
          content:
            application/json:
              example:
                message: Too Many Requests
                errors:
                - errMsg: "Too many requests, please try again later."
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Too Many Requests. Retry your request after the number of seconds
            specified in the retry-after header.
        "500":
          content:
            application/json:
              example:
                message: Internal Server Error
                errors:
                - errMsg: Currently in maintenance mode. Please try again in a few
                    minutes.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Internal Server Error. Contact support.
      summary: Trigger Fetch from Plaid
      tags:
      - plaid_accounts
  /transactions:
    delete:
      description: |-
        Deletes the transaction with the IDs specified in the request body.<br>
        If any of the specified transactions are a split transaction or a split parent, or if any are a grouped transactions or part of a transaction group, the request will fail with a suggestion on how to unsplit or ungroup the transaction(s) prior to deletion. This will also fail if any of the specified transaction IDs do not exist.<br>
        Otherwise, the specified transactions are deleted.<br><br>
        **Use with caution. This action is not reversible!**
      operationId: deleteTransactions
      requestBody:
        content:
          application/json:
            examples:
              delete three transactions:
                value:
                  ids:
                  - 2112150653
                  - 2112150654
                  - 2112150655
              duplicate ids:
                value:
                  ids:
                  - 2112150653
                  - 2112150653
                  - 2112150654
                  - 2112150654
              invalid ids:
                value:
                  ids:
                  - 2112150653
                  - 9999999999
                  - 2112150654
            schema:
              $ref: "#/components/schemas/deleteTransactions_request"
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              example:
                message: Invalid Request Body
                errors:
                - errMsg: "Duplicate transaction ID found: 2112150653"
                  transaction_id: 2112150653
                  ids_index: 0
                  invalid_property: ids
                - errMsg: "Duplicate transaction ID found: 2112150653"
                  transaction_id: 2112150653
                  ids_index: 1
                  invalid_property: ids
                - errMsg: "Duplicate transaction ID found: 2112150654"
                  transaction_id: 2112150654
                  ids_index: 2
                  invalid_property: ids
                - errMsg: "Duplicate transaction ID found: 2112150654"
                  transaction_id: 2112150654
                  ids_index: 3
                  invalid_property: ids
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Not Found
        "401":
          content:
            application/json:
              example:
                message: Unauthorized
                errors:
                - errMsg: Access token does not exist.
              schema:
                $ref: "#/components/schemas/errorResponseObject"
          description: Unauthorized. This error occurs when an invalid API token is
            passed to the request.
        "404":
          content:
            application/json:
              example:
                message: Request Validation Failure
                errors:
                - errMsg: "There is no transaction with the id: 8888888888"
                  ids_index: 0
                  id: 8888888888
[...]
